
@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Socar Sans Pro Bold Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Socar Sans Pro Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Socar Sans Pro Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Socar Sans Pro Light Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Socar Sans Pro Light.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/Socar Sans Pro Medium Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Socar Sans Pro Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Socar Sans Pro Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/Socar Sans Pro Super Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Socar Sans Pro';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Socar Sans Pro Super.otf') format('opentype');
}
