// colors
$white: #ffffff;
$black: #000000;


//Media device sizes
$desktop-xxl: 1920px;
$desktop-large: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 375px;

// Animation
$animation-duration: 300ms;
$header-menu-animation: cubic-bezier(1, 0, 0, 1);
